@import url("/resetFile.css");
.wrapper{
    .main_content{
        display: flex;
        flex-wrap:wrap;
        background-color: antiquewhite;
    }
    .flex-item{
        background-color: aqua;

        height: 300px;
        width: 300px;
    }
    .first{
        width: 100%;
        background-color:aquamarine;
    }
    .second{
        width: 70%;
        background-color:cadetblue;
    }
    .third{
        width: 30%;
        background-color:cornflowerblue;
    }
    .fourth{
        width: 30%;
        background-color:darkmagenta;
    }
    .fifth{
        width: 70%;
        background-color:indigo;
    }
}
@media screen and (max-width:700px){
    .wrapper{
        .second{
            width: 100%;
        }
        .third{
            width: 100%;
        }
        .fourth{
            width: 50%;
        }
        .fifth{
            width: 50%;
        }
    }
}