body{
    margin: 0;
    padding: 0;
}
.linksWrapper{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    .contents{
        margin: 0 auto;
        width: 500px;
        .linkItem{
            width: 90%;
            background: rgba(219, 216, 37, 0.719);
            backdrop-filter: blur(10px);
            text-align: center;
            padding: 10px;
            margin:10px;
            a{
                text-decoration: none;
                font-family:'Courier New', Courier, monospace;
                font-size: 18px;
                color: rgb(0, 0, 0);
    
            }
        }
    }
}
.fileManager{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    position: absolute;
    .fileManager_files{
        display: block;
        margin-top:20px;
        li{
            list-style: none;
            margin:10px;
            padding: 5px;
        }
        .block {
            display: flex;
            align-items: center;
          }
          
          .block img + .block-text {
            margin-left: 0.5em;
          }
          
          .block .block-text + img {
            margin-left: 0.5em;
          }
    }
}

.selected{

    background-color:aquamarine;
}

.animationBlock{
    position: absolute;
    bottom: 0;
    right: 0;
    .animationPolygon{
    
        height: 300px;
        width: 300px;
        background:blueviolet;
        position: relative;
    
        .rectangle{
            transition: .2s;
            width: 50px;
            height: 50px;
            background: rgba(0, 0, 0,0.3);
            backdrop-filter: blur(10px);
    
            position: absolute;
            top:0;
            left: 0;
        }
    
    }
}

.party{
    position: absolute;
    top:10px;
}