@import url("/resetFile.css");
html {
  overflow-y: hidden;
}

body {
  background-color: rgb(31, 32, 37);
}

.rectangle.first {
  width: 100px;
  height: 100px;
  transform: translate(210px, 180px);
  background: #fff;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.rectangle.second {
  width: 40px;
  height: 40px;
  transform: translate(160px, -160px);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.rectangle.third {
  width: 120px;
  height: 120px;
  transform: translate(-180px, 20px);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.rectangle.fourth {
  width: 50px;
  height: 50px;
  transform: translate(-120px, -220px);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.rectangle.fifth {
  width: 100px;
  height: 100px;
  transform: translate(160px, 60px);
  display: block;
}

.rectangle.sixth {
  width: 50px;
  height: 50px;
  transform: translate(-120px, 80px);
}

.rectangles {
  position: relative;
}

@-webkit-keyframes move_rectangle {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

@keyframes move_rectangle {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
.main {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-position: 0;
  justify-content: center;
}
.main .rectangles {
  -webkit-animation: move_rectangle 10s linear infinite;
          animation: move_rectangle 10s linear infinite;
}
.main .rectangle {
  list-style: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}

.form_blur {
  z-index: 0;
  position: absolute;
  color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.form_blur .form_blur_content {
  min-height: 320px;
  min-width: 320px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form_blur .form_blur_content form {
  padding: 10%;
}
.form_blur .form_blur_content .additional_block {
  margin-top: 5%;
}
.form_blur .form_blur_content .additional_block a {
  color: orange;
}
.form_blur .form_blur_content h2 {
  text-decoration: none;
  border-bottom: 3px white solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  margin-top: 5px;
}
.form_blur .form_blur_content .input_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_blur .form_blur_content .input_fields input {
  margin-top: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 10px;
  color: white;
  width: 100%;
}
.form_blur .form_blur_content .input_fields input::-moz-placeholder {
  color: rgb(197, 186, 186);
  font-size: 14px;
}
.form_blur .form_blur_content .input_fields input:-ms-input-placeholder {
  color: rgb(197, 186, 186);
  font-size: 14px;
}
.form_blur .form_blur_content .input_fields input::placeholder {
  color: rgb(197, 186, 186);
  font-size: 14px;
}
.form_blur .form_blur_content .sign_btn {
  display: block;
  width: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 477px) {
  .rectangle.first {
    width: 80px;
    height: 80px;
    transition: 0.7s;
  }
  .rectangle.third {
    width: 80px;
    height: 80px;
    transition: 0.7s;
  }
  .rectangle.fifth {
    width: 70px;
    height: 70px;
    transition: 0.7s;
  }
}
@media screen and (max-width: 390px) {
  .rectangle.first {
    width: 50px;
    height: 50px;
    transition: 0.7s;
    margin-right: 100px;
  }
  .rectangle.third {
    width: 50px;
    height: 50px;
    transition: 0.7s;
    margin-left: 70px;
  }
  .rectangle.fifth {
    width: 40px;
    height: 40px;
    transition: 0.7s;
    margin-right: 100px;
  }
}
@media screen and (max-width: 330px) {
  .rectangle.first {
    transition: 0.7s;
    margin-right: 100px;
  }
  .rectangle.third {
    transition: 0.7s;
    margin-left: 70px;
  }
  .rectangle.fifth {
    transition: 0.7s;
    margin-right: 100px;
  }
  .rectangle.fourth {
    transition: 0.7s;
    margin-left: 100px;
  }
}/*# sourceMappingURL=form2_styles.css.map */