@import url("/resetFile.css");
$color: rgb(31, 32, 37);

$position_first:160px;
$position_second:160px;
$position_third:20px;
$position_fourth:-220px;
$position_fifth:160px;

$form_wh: 320px;
html { overflow-y: hidden; }
body{
    background-color: $color;
    
}
.rectangle.first{
    width: 100px;
    height: 100px;
    transform: translate($position_second + 50px,$position_second + 20px);
    background: #fff;
    animation-delay: 0s;
    
}
.rectangle.second{
    width: 40px;
    height: 40px;
    transform: translate($position_second,calc($position_second * (-1)));
    animation-delay: 2s;
    animation-duration: 12s;
    
}
.rectangle.third{
    width: 120px;
    height: 120px;
    transform: translate(calc($position_third * (-9)),20px);
    animation-delay: 4s;
    
}
.rectangle.fourth{
    width: 50px;
    height: 50px;
    transform: translate(calc($position_fourth + 100px),$position_fourth);
    animation-delay: 0s;
    animation-duration: 18s;

}
.rectangle.fifth{
    width: 100px;
    height: 100px;
    transform: translate($position_fifth,calc($position_fifth - 100px));
    display: block;
}
.rectangle.sixth{
    width: 50px;
    height: 50px;
    transform: translate(calc($position_fourth + 100px),calc($position_fourth + 300px));
    
}

.rectangles{
    position: relative;
}
@keyframes move_rectangle {

    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px) ;
    }

}
.main{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-position: 0;
    justify-content: center;
    .rectangles{
        animation: move_rectangle 10s linear infinite;
    }
    .rectangle{
        list-style: none;
        backdrop-filter: blur(10px);
        border-radius: 8px;
        background: rgba(255,255,255,0.05);
    }

}
.form_blur{
    z-index:0;
    position:absolute;
    color:white;
    backdrop-filter: blur(10px);
    .form_blur_content{
        min-height: 320px;
        min-width: 320px;
        backdrop-filter: blur(20px);
        background: rgba(255,255,255,0.05);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        form{
            padding:10%;
        }   
        .additional_block{
            margin-top: 5%;
            a{
                color: orange;
            }
        }
        h2{
            text-decoration: none; 
            border-bottom: 3px white solid;
            width: fit-content;
            font-size: 20px;
            margin-top:5px;
        }
        .input_fields{
            display: flex;
            
            flex-direction: column;
            align-items: center;
            input{
                margin-top:20px;
                backdrop-filter: blur(20px);
                background: rgba(255,255,255,0.1);
                border-radius: 25px;
                padding: 10px;
                color:white;
                width: 100%;
                &::placeholder{
                    color: rgb(197, 186, 186);
                    font-size: 14px;
                }
            }
        }
        .sign_btn{
            display: block;
            width:70px;
            height: fit-content;
            color: black;
            text-align: center;
            padding: 10px;
            background-color: white;
            border-radius:20px ;
            margin-top:20px;
            box-shadow: 2px 3px rgb(#000,0.1);
        }
    }
}


@media screen and (max-width:"477px") {
    .rectangle.first{
        width: 80px;
        height:80px;
        transition: 0.7s;

    }
    .rectangle.third{
        width: 80px;
        height:80px;
        transition: 0.7s;

    }
    .rectangle.fifth{
        width: 70px;
        height:70px;
        transition: 0.7s;

    }
}
@media screen and (max-width:"390px") {
    .rectangle.first{
        width: 50px;
        height:50px;
        transition: 0.7s;
        margin-right: 100px;

    }
    .rectangle.third{
        width: 50px;
        height:50px;
        transition: 0.7s;
        
        margin-left: 70px;

    }
    .rectangle.fifth{
        width: 40px;
        height:40px;
        transition: 0.7s;
        
        margin-right: 100px;

    }
}
@media screen and (max-width:"330px") {
    .rectangle.first{
        transition: 0.7s;
        margin-right: 100px;

    }
    .rectangle.third{

        transition: 0.7s;
        
        margin-left: 70px;

    }
    .rectangle.fifth{

        transition: 0.7s;
        
        margin-right: 100px;

    }
    .rectangle.fourth{

        transition: 0.7s;
        
        margin-left: 100px;

    }
}