@import url("/resetFile.css");
html {
  overflow-y: hidden;
}

body {
  background-color: rgb(31, 32, 37);
}

.rectangle.first {
  width: 100px;
  height: 100px;
  transform: translate(160px, -160px);
  -webkit-animation: move_rectangle1 30s linear infinite;
          animation: move_rectangle1 30s linear infinite;
}

.rectangle.second {
  width: 40px;
  height: 40px;
  transform: translate(-160px, -160px);
  -webkit-animation: move_rectangle2 30s linear infinite;
          animation: move_rectangle2 30s linear infinite;
}

.rectangle.third {
  width: 200px;
  height: 200px;
  transform: translate(-160px, 20px);
  -webkit-animation: move_rectangle3 30s linear infinite;
          animation: move_rectangle3 30s linear infinite;
}

.rectangle.fourth {
  width: 50px;
  height: 50px;
  transform: translate(-20px, -220px);
  -webkit-animation: move_rectangle4 30s linear infinite;
          animation: move_rectangle4 30s linear infinite;
}

.rectangle.fifth {
  width: 100px;
  height: 100px;
  transform: translate(160px, 50px);
  -webkit-animation: move_rectangle5 30s linear infinite;
          animation: move_rectangle5 30s linear infinite;
}

@-webkit-keyframes move_rectangle1 {
  0% {
    transform: translate(160px, -160px);
  }
  100% {
    transform: translate(500px, -220px);
    transition: 0.8s;
  }
}

@keyframes move_rectangle1 {
  0% {
    transform: translate(160px, -160px);
  }
  100% {
    transform: translate(500px, -220px);
    transition: 0.8s;
  }
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-position: 0;
  justify-content: center;
}
.main .rectangle {
  background: red;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}

.form_blur {
  z-index: 100;
  position: absolute;
  color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.form_blur .form_blur_content {
  min-height: 320px;
  min-width: 320px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form_blur .form_blur_content form {
  padding: 10%;
}
.form_blur .form_blur_content .additional_block {
  margin-top: 5%;
}
.form_blur .form_blur_content .additional_block a {
  color: orange;
}
.form_blur .form_blur_content h2 {
  text-decoration: none;
  border-bottom: 3px white solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  margin-top: 5px;
}
.form_blur .form_blur_content .input_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_blur .form_blur_content .input_fields input {
  margin-top: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 10px;
  color: white;
  width: 100%;
}
.form_blur .form_blur_content .input_fields input::-moz-placeholder {
  color: rgb(197, 186, 186);
  font-size: 14px;
}
.form_blur .form_blur_content .input_fields input:-ms-input-placeholder {
  color: rgb(197, 186, 186);
  font-size: 14px;
}
.form_blur .form_blur_content .input_fields input::placeholder {
  color: rgb(197, 186, 186);
  font-size: 14px;
}
.form_blur .form_blur_content .sign_btn {
  display: block;
  width: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=main_page.css.map */