@import url("/css/resetFile.css");

body{
    background-color: aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    position: relative;
    overflow-x: hidden;
    width:25%;
    padding: 10px;
    text-align: center;
    
}
.buttons{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
//---------------------------------------------------------------------Buttons---------------------------------------------------------------------------------------------//
    .button1{
        background-color: rgb(162, 3, 99);
        color: white;
        &::before{
            position: absolute;
            content: '';
            background-color: white;
            opacity: 0.4;
            width: 2.5em;
            height: 100%;
            top: 0;
            left: 0;
            animation: glare 7.3s infinite linear;
            transform: translateX(-3em) skew(-55deg); 
            transition:.2s;
        }
        @keyframes glare {
            
            0%{
                transform: translateX(-3em) skew(-55deg); 
            }
            12.7777%{
                transform: translateX(30em) skew(-55deg); 
            }
            100%{
                transform: translateX(100em) skew(-55deg); 
            }
        }
    }
//------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
    .button2{
        border: 2px solid #d4ab08;
        &:hover{
            color: #000 !important;
            background-color: transparent;
            text-shadow: none;
            transition: 1s;
        }
        &:hover::before{
            bottom: 0%;
            top: auto;
            height: 100%;
            transition: .5s;
        }
        &::before{
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 0px;
            width: 100%;
            z-index: -1;
            content: '';
            color: #000 !important;
            background: #F7CA18;
            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        }
        background-color:white;
        color:black;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
//------------------------------------------------------------------------------------------------------------------------------------------------------------------------//
    .button3{
        background-color: orangered;
        box-shadow: 3px 1px rgb(rgb(211, 40, 40),0.2);
        &:hover{
            background-color: white;
            color:rgb(231, 83, 107);
            background-color: antiquewhite;
            
            transition: .4s;
            &::after{
               transform: translateX(100%);
                transition: .2s;
                animation: right_to_left 1s ; 
                animation-fill-mode: forwards;
            }
            &::before{
                transform: translateX(-100%);
                transition: .2s;
                animation: left_to_right 1s ;
                animation-fill-mode: forwards;
            }
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background-color:rgb(231, 83, 107); ;
            top:0;
            left: 0;
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background-color:rgb(231, 83, 107); 
            bottom: 0;
            left: 0;
        }
        &:not(:hover){
            transition: .6s;
        
        }
        @keyframes left_to_right {
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(0%);
            }
        }
        @keyframes right_to_left {
            0%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(0%);
            }
        }
        
    }
//------------------------------------------------------------------Buttons------------------------------------------------------------------------------------------//
    .button4{
        overflow: hidden;
        background-color: rgb(170, 170, 243);
        color:black;
        &:hover{
            background-color: white;
            color:rgb(231, 83, 107);
            background-color: antiquewhite;
            transition: .4s;
            &::after{
               transform: translateX(100%);
                transition: .2s;
                animation: right_to_left 0.5s ; 
                animation-fill-mode: forwards;
            }
            &::before{
                transform: translateX(-100%);
                transition: .2s;
                animation: left_to_right 0.5s ;
                animation-fill-mode: forwards;
            }
            box-shadow: inset 10px 10px rgb(rgb(164, 162, 162),0.1);
        }
        &::before{
            content:'';
            display: block;
            border-left: 5px solid blue;
            border-top: 5px solid blue;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            bottom: 0;
            right: 0;
            left: 0;
            transform: translateX(100%);
            //transform: translateY(100%);
        }
        &::after{
            content:'';
            display: block;
            border-right: 5px solid blue;
            border-bottom: 5px solid blue;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            bottom: 0;
            right: 0;
            left: 0;
            transform: translateX(-100%);
           // transform: translateY(-100%);
        }
        @keyframes left_to_right {
            0%{
                transform: translateX(-100%);
               // transform: translateY(-100%);
            }
            100%{
                transform: translateX(0%);
                //transform: translateY(0%);
            }
        }
        @keyframes right_to_left {
            0%{
                transform: translateX(100%);
                //transform: translateY(100%);
            }
            100%{
                transform: translateX(0%);
                //transform: translateY(0%);
            }
        }
    }
    }
.button{
    display: block;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 20px 80px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    position: relative; 
    overflow-x: hidden;
    
}
//-------------------------------------------------------------Notification--------------------------------------------------------------------------------//
.notifications{
    .image{
        z-index:100;
        margin-left:10px;
        width: fit-content;
        position: fixed;
        top: 0;
        left: 0;
        .list{
            .list_items{
                display: none;
            }
        }
        img{
            width: 30px;
            margin:10px 0px 0px 10px;
            background-color: white;
            border-radius: 50%;
            padding: 4px;
            box-shadow: 2px 2px 2px 2px rgb(black,0.2);
        }
        &::before{
            content: '4';
            text-align: center;
            padding: 1px;
            color: #fff;
            font-size: 11px;
            font-family:'Courier New', Courier, monospace;
            position: absolute;
            z-index: 100;
            background-color: rgb(255, 51, 133);
            width: 13px;
            height: 13px;
            border-radius: 50%;
            right: 0;
            top:12px;
        }
        &::after{
            
            text-align: center;
            padding: 1px;
            color: #fff;
            font-size: 11px;
            font-family:'Courier New', Courier, monospace;
            position: absolute;
            z-index: 100;
            background-color: rgb(153,51,255);
            width: 13px;
            height: 13px;
            border-radius: 50%;
            right: 0;
            top:12px;
        }
        &:not(:hover){
            transition:1.7s;
        }
        &:hover{
            img{
                box-shadow:none;
                background-color: transparent;
                transition: .5s;
            }
            &::before{
                top:6px;
            }
            width: 200px;
            height: fit-content;
            .img{
                background-color: rgb(153,51,255);
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                transition: 0.4s;
            }
            .list{
                background-color: white;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                text-align: center;
                transition: 0.4s;
                .list_items{
                    counter-reset: num;
                    li::before{
                        content: counter(num);
                        text-align: center; 
                        counter-increment: num;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        border-radius: 50%;
                        background-color:rgb(153,51,255);
                        left: 0;
                        color:white;
                        margin-left:20px;
                    }
                    display: block;
                    transition: 2.9s;
                    .list_item{
                        width: 100%;
                        padding: 10px 10px 10px 20px;
                        border-radius: 10px;
                        &:hover{
                            transform: scale(1.1);
                            transition: 0.5s;
                            background-color: rgb(153,51,255);
                            &::before{
                                background-color: white;
                                color:rgb(153,51,255);
                                transform: .5s;
                            }
                        }
                    }
                }
            }
        }
    }
}
//-------------------------------------------------------------Cards list--------------------------------------------------------------------------------//

.cards_list{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    list-style: none;
    li{
        margin-top:15px;
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
        height: 400px;
    }
    .card1{
        background: url("/img/MeditaionsImage/1.jpg") center center fixed ;
        background-size: cover;
        background-attachment:unset;
    }
    .card2{
        background: url("/img/MeditaionsImage/2.jpg") center center fixed ;
        background-size: cover;
        background-attachment:unset;
    }
    .card3{
        background: url("/img/MeditaionsImage/3.jpg") center center fixed ;
        background-size: cover;
        background-attachment:unset;
    }
    .card4{
        background: url("/img/MeditaionsImage/4.jpg") center center fixed ;
        background-size: cover;
        background-attachment:unset;
    }
    .card{
        position: relative;
        overflow: hidden;
        .img{
            .content{
                transform: translateY(-100%);
                position: absolute;
                h2{
                    margin-bottom: 5px;
                    color:white;
                    font-size: 24px;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                h3{
                    color:white;
                    font-size: 18px;
                    
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                button{
                    position: relative;
                    height: fit-content;
                    margin-top: 10px;
                    padding: 5px;
                    font-size: 16px;
                    width: fit-content;
                    display: block;
                    top: 0;
                    background-color: #fff;
                }
            }
        }
        &:hover{
            transform: translate(-20px, -20px);
            transition:.6s;
            .content{
                bottom:50px;
                transition:0.6s;
                margin-left:10px;

            }
            &::before{
                transform: translate(0,0);
                transition: .6s;
            }
            .img{
                .content{
                    transform: translate(0,0);
                    transition:0.6s;
                }
            }
        }
        &::before{
            content: '';
            width: 100%;
            transform: translateY(-100%);
            height: 100%;
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,0.5) 27%, rgba(160,9,224,1) 100%);
            position: absolute;
            top: 0;
        
        }

}
}



@media screen and (max-width:1500px) {
    .button{
        width: 33%;
        margin-top:1%;
    }
    .cards_list{
        li{
            width: 33%;
        }
        
    }
    
}
@media screen and (max-width:894px) {
    .button{
        margin-top:10px;
        margin-left:1%;
        width: 49%;
    }
    .cards_list{
        li{
            width: 50%;
        }   
    }
}
@media screen and (max-width:570px) {
    .button{
        margin-top:10px;
        width: 100%;
    }
    .cards_list{
        li{
            width: 100%;
            margin-left:20px;
        }
        
    }
    
    
}