//-------------------------------------------------------------video--------------------------------------------------------------------------------//
.video{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .video_res{
        .content{
            transform: translateX(-10px);
            width: 100%;
            background-color: black;
            color: white;
            padding:100px 0;
            h2,h3{
                margin-left:80px;
            }
            transform: translateY(-130%);
            visibility: collapse;
        }
        &:hover{
            .content{
                visibility: visible;
                transform:translate(-10%,-140%);
                transition: .5s;
            }
        }
    }
}
body{
    background-color: gray;
}
@media screen and (max-width:850px) {
    .video_res{
        width: 700px;
    }
    
}
@media screen and (max-width:650px) {
    .video_res{
        width: 500px;
    }
    
}
@media screen and (max-width:450px) {
    .video_res{
        width: 300px;
    }
    
}